@media (max-width: 1980px) {
    .wrap {
        width: 100%;
    }
    
}
@media (max-width: 695px) {
    .wrap {
        width: 73%;
    }   
}
@media (max-width: 678px) {
    .wrap {
        width: 63%;
    }   
}
@media (max-width: 535px) {
    .wrap {
        width: 47%;
    }   
}
@media (max-width: 394px) {
    .wrap {
        width: 35%;
    }   
}