.anim{
    // width: 70vw;
    width: 100%;
    // height: 70vh;
    height: calc(100vh - 80px);
    margin: 0 auto;
    // .anim__canvas {
    //     width: 100%;
    // }
}

// @media (max-width: 695px) {
//     .anim{
//         // // height: 70vh;
//         height: calc(100vh - 74.5px);
//         // margin: 0 auto;
//     }
// }
